@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}

.color {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid black;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}

#pixel-board {
  border: 1px solid black;
  margin: auto;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.pixel-line {
  max-height: 40px;
  width: 100%;
}

#clear-board {
  margin-bottom: 10px;
}
.main-content {
  max-width: 1300px;
  margin: auto;
  text-align: center;
}
.selected {
  border: 2px dotted yellow;
}
#title {
  font-size: 80px;
  max-height: 100px;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 20px;
  /*box-shadow: 3px 3px 10px  rgb(92, 6, 92);
  background-color: rgb(219, 214, 214);
  border: 3px solid black;*/
}

#utilities{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
#btn-container {
  margin-top: 10px;
  font-size: 25px;
}
.btn {
  display: inline-block;
  font-size: 20px;
  background-color: rgb(241, 231, 82);
}
#rgb-color {
  width: 40px;
  height: 40px;
  border: none;
}

#montains {
  top: 0;
  height: 100vh;
  background-image: url('Flat-Mountains-clouds.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}


#color-palette, #btn-container {
  display: flex;
  flex-wrap: wrap;
}

#color-palette {
  padding-right: 60px;
  padding-left: 20px;
}

#btn-container {
  justify-content: space-around;
  padding-right: 20px;
}

#btn-container button {
  margin: 5px 5px;
  padding: 0 5px;
}

#btn-container input {
  min-width: 50px;
  margin-right: 5px;
}

#btn-container label {
  margin-left: 5px;
}

@media screen and (max-width: 1300px){
  .main-content {
    max-width: 1000px;

  }
  #utilities {
    margin: 30px 0px;
  }

  #btn-container {
    width: 300px;
  }
  #generate-board {
    order: -1;
  }
  #clear-board, #fill-board {
    order: -2;
  }

  #color-palette {
    max-width: 300px;
  }
}
