@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}
body{
  background-image: url('Flat-Mountains.svg');
  background-size: 90%;
}

.color {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid black;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}

#pixel-board {
  border: 1px solid black;
  margin: auto;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.pixel-line {
  max-height: 40px;
  width: 100%;
}

#clear-board {
  margin-bottom: 10px;
}
.main-content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.selected {
  border: 2px dotted yellow;
}
#title {
  font-size: 70px;
  max-height: 100px;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 40px;
  /*box-shadow: 3px 3px 10px  rgb(92, 6, 92);
  background-color: rgb(219, 214, 214);
  border: 3px solid black;*/
}
.cloud-img {
  position: absolute;
  z-index: -1;
  top: -50px;
  left: 230px;
  height: 300px;
  width: 900px;
}
#btn-container, #color-palette {
  display: inline-block;
}
#utilities{
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
  width: 820px;
}
#btn-container {
  margin-top: 10px;
}
#rgb-color {
  width: 40px;
  height: 40px;
  border: none;
}